* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}
 .header {
    background-color: brown;
    display: flex;
    flex-flow: column nowrap; 
}
    .menu {
        background-color: #3f1717;
        display: flex;
        flex-flow: row nowrap;
    }
          .nav {
              background-color: #E97777;
              height: 30px;
              flex: 2 1 auto
}
          .logo {
              background-color: #E97777;
              height: 30px;
              flex: 0.5 1 auto
}
          .redes {
              background-color: #E97777;
              height: 30px;
              flex: 2 1 auto
}
    .titulo {
      background-color: aqua;
      height: 450px;
      font-family: 'Tangerine', cursive;
}
          .nombre {
             background-color: #FF9F9F;
}
    .resumen {
      background-color: rgb(139, 83, 153);
      height: 200px;
}
          .presentacion {
             background-color: #FCDDB0;
}
 .work {
    background-color: gold;
}
    .titulo-work {
       background-color: #FFF8EA;
       height: 100px;
}
    .cards {
        background-color: #9e8989;
        height: 400px;
        display: flex;
        flex-flow: row nowrap;
    }
         .card-1,.card-2,.card-3,.card-4 {
             background-color: #594545;
             padding: 30px;
             flex: 1 1 auto;
             align-items: center;
}
 .habilidades {
    background-color: hotpink;
}
    .titulo-habilidades {
       background-color: #594545;
       height: 100px;
}
    .caracteristicas {
        background-color: #FF9F9F;
        display: flex;
        flex-flow: row nowrap;
    }
         .habilidad,.aptitud {
             background-color: #C8DBBE;
             flex: 1 1 auto;
}
            .habilidad-1,.habilidad-2,.habilidad-3,.habilidad-4,.habilidad-5,.aptitud-1,.aptitud-2,.aptitud-3,.aptitud-4,.aptitud-5 {
              background-color: beige;
}
 .footer {
    background-color: navy;
}
    .titulo-footer {
        background-color: #C8DBBE;
    }
    .redes-email {
        background-color: #594545;
        display: flex;
        flex-flow: row nowrap;
    }
        .redes-2, .email {
           background-color: #BCCEF8;
           height: 170px;
           flex: 1 1 auto;
}