* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}
 #header {
    background: #1f1f1f;
    background-position: center;
    background-attachment: contain; 
    background-size: cover;
    display: flex;
    flex-flow: column nowrap; 
}
    .menu {
        display: flex;
        flex-flow: row nowrap;
    }
          .logo {
              width: 50%;
              text-align: start;
              padding-left: 40px;
              font-size: 30px;
              flex: 1 1 auto
}
                .logo a{
                    color: #FFF8EA;
                    text-decoration: none;
                }
          .redes {
              width: 50%;
              text-align: end;
              font-size: 30px;
              flex: 1 1 auto
}
                .redes a {
                    color: #FFF8EA;
                }
    .titulo {
      height: 400px;
      margin-left: 50px;
}
          .nombre {
            color: #FFF8EA;
             height: 100%;
             padding-top: 200px;
}
    .resumen {
      height: 200px;
}
          .presentacion {
             font-size: 20px;
             padding-left: 50px;
             text-align: left;
             width: 50%;
             color: #FFF8EA;
             height: 100%;
}
 .work {
    background-color: #f0ede9;
}
    .titulo-work {
       background-color: #fff8ea;
       font-size: 40px;
       text-align: center;
}
    .cards {
        
    }
         .card-1,.card-2,.card-3,.card-4 {
             
}
 .habilidades {
    background-color: hotpink;
}
    .titulo-habilidades {
       background-color: #594545;
       height: 100px;
}
    .caracteristicas {
        background-color: #FF9F9F;
        display: flex;
        flex-flow: row nowrap;
    }
         .habilidad,.aptitud {
             background-color: #C8DBBE;
             flex: 1 1 auto;
}
            .habilidad-1,.habilidad-2,.habilidad-3,.habilidad-4,.habilidad-5,.aptitud-1,.aptitud-2,.aptitud-3,.aptitud-4,.aptitud-5 {
              background-color: beige;
}
 .footer {
    background-color: navy;
}
    .titulo-footer {
        background-color: #C8DBBE;
    }
    .redes-email {
        background-color: #594545;
        display: flex;
        flex-flow: row nowrap;
    }
        .redes-2, .email {
           background-color: #BCCEF8;
           height: 170px;
           flex: 1 1 auto;
}