* {
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}
 #header {
    background: #1f1f1f;
    background-position: center;
    background-attachment: contain; 
    background-size: cover;
    display: flex;
    flex-flow: column nowrap; 
}
    .menu {
        display: flex;
        flex-flow: row nowrap;
    }
          .logo {
              width: 50%;
              text-align: start;
              padding-left: 40px;
              font-size: 30px;
              flex: 1 1 auto
}
                .logo a{
                    color: #FFF8EA;
                    text-decoration: none;
                }
          .redes {
              width: 50%;
              text-align: end;
              font-size: 30px;
              flex: 1 1 auto
}
                .redes a {
                    color: #FFF8EA;
                }
    .titulo {
      height: 400px;
      margin-left: 50px;
}
          .nombre {
            color: #FFF8EA;
             height: 100%;
             padding-top: 200px;
}
    .resumen {
      height: 200px;
}
          .presentacion {
             font-size: 20px;
             padding-left: 50px;
             text-align: left;
             width: 50%;
             color: #FFF8EA;
             height: 100%;
}
 .work {
    background-color: #f0ede9;
    padding: 50px;
    margin: 50px;
}
    .titulo-work {
       background-color: #fff8ea;
       font-size: 40px;
       text-align: center;
}
 .educacion-habilidades{
    background-color: #f0ede9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: stretch;
 }
         .titulo-educacion{
            text-align: center;
         }
         .educacion{
            background-color: #1f1f1f;
            color: #f0ede9;
            width: 50%;
            flex: 2 1 auto;
         }
     .habilidades{
        background-color: #f0ede9;
        border-top: 1px solid #1f1f1f;
        border-bottom: 1px solid #1f1f1f;
        width: 50%;
        text-align: center;
        flex: 1 1 auto;
     }
        
 .footer {
    background: #1f1f1f;
}
    .titulo-footer {
        background-color: #C8DBBE;
        text-align: center;
    }
    .frase-email {
        background-color: #594545;
        display: flex;
        flex-flow: row nowrap;
    }
        .frase {
           background-color: #BCCEF8;
           width: 40%;
           height: 170px;
           flex: 1 1 auto;
}
        .email {
           background-color: #BCCEF8;
           width: 60%;
           height: max-content;
           flex: 1 1 auto;
           display: flex;
           flex-flow: column nowrap;
}